*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background: #f8f8f8;
  }


  .container{
    background-color:greenyellow;
  }


  /*     Weather Forecast css          */
  
  .col{
    display:flex;
  }

  .weatherForecast{
    flex:20%; 
    padding:5px solid pink;
  }
  

