@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Red+Hat+Mono&display=swap');
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(
    circle,
    #1c7fc2 0%,
    #009cdc 28%,
    #0d9ade 32%,
    #011844 100%
  );
  color: #fff;
  font-family: "Red Hat Mono", sans-serif;
  font-weight: 300;
  font-size: 22px;
  transition: filter 0.5s;
  filter: blur(15px);
}

h2, h3{
  font-family: "Noto Sans", sans-serif;
}

.Weather {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.weatherSearch{
  width: 100%;
  padding: 15px 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 20px;
  color: inherit;
  white-space: nowrap;
  margin-bottom: 0px;
  border-radius: 50px 50px;
}

.weather__search::placeholder {
  color: #fff;
}

.weather__today {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather_image {
  width: 30vmin;
  align-self: center;
}

.weather__city {
  font-size: 36px;
  font-weight: 500;
  margin: 20px 0;
}


.weather_day {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 400;
}


.weather_indicator::before {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 30px;
  background-size: cover;
  margin-right: 10px;
}


.weather__temperature {
  font-size: 150px;
}

.weather_forecast {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  justify-content: space-between;
}

.temperature-value{
  font-size: 200%;
}

.weather__forecast__icon {
  width: 50%;
}

.weather__forecast__item {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 0 10px 10px;
  padding: 30px 5px 20px;
  box-sizing: border-box;
  min-width: 150px;
  width: calc(20% - 20px);
  flex-grow: 1;
}

/* Social Links */
footer {
  height: 150px;
  position: relative;
  bottom: 0px;
  padding-top: 20px;
  background-image: radial-gradient(
    circle,
    #1c7fc2 0%,
    #009cdc 28%,
    #0d9ade 32%,
    #011844 100%
  );
}

.social-links {
  text-align: center;
}

.social-links > li {
  display: inline; /*Displays the links to */
}

.social-links i {
  font-size: 160%;
  margin: 1%;
  padding: 10%;
  padding-top: 15px;
  padding-bottom: 0px;
  color: #3a3a3a;
}